* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: rgb(0, 0, 0);
}

.meme-slider {
  overflow-x: hidden;
  width: 51.3rem;
  margin: 2rem auto;
}

.images-box {
  overflow-x: hidden;
  display: flex;
  width: 53rem;
  height: 31rem;
}

.images-box img {
  border: solid 0.313rem rgb(0, 0, 0);
  border-radius: 0.8rem;
  max-width: 52rem;
  width: 100%;
  background-size: contain;
  transition: all 0.1s ease;
}

.images-box input {
  display: none;
}

.pagination {
  margin: 1.25rem 0.4rem;
  display: flex;
  height: 2.2rem;
  justify-content: space-between;
  align-items: center;
}

.circle-pagination {
  display: flex;
  justify-content: right;
  margin: 0.313rem;
  width: 11.25rem;
  height: 1.875rem;
}

.text-box {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  overflow-y: hidden;
  font-size: 1.25rem;
  font-weight: bold;
}

.text-box div {
  display: block;
  background-color: rgb(0, 0, 0);
  transition: all 0.1s ease;
}

.circle-pagination label {
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.313rem;
  cursor: pointer;
}

.circle-pagination label span {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  border: solid rgb(50, 60, 195) 0.188rem;
  background-color: rgb(50, 60, 195);
  cursor: pointer;
}

.circle-pagination label span:hover {
  background-color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255) 0.188rem;
  transition: all 0.1s ease;
}

/* slider change picture */
#first-image:checked ~ .image-one {
  transform: translateX(0);
}
#second-image:checked ~ .image-two {
  transform: translateX(-100%);
}
#third-image:checked ~ .image-three {
  transform: translateX(-200%);
}
#fourth-image:checked ~ .image-four {
  transform: translateX(-300%);
}
#fifth-image:checked ~ .image-five {
  transform: translateX(-400%);
}
#sixth-image:checked ~ .image-six {
  transform: translateX(-500.1%);
}

/* style of pagination circle */
.images-box:has(#first-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style1
  .span1 {
  background-color: rgb(0, 0, 0);
  border: solid rgb(50, 60, 195) 0.188rem;
}

.images-box:has(#first-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style1
  .span1:hover {
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 0.188rem;
}

.images-box:has(#second-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style2
  .span2 {
  background-color: rgb(0, 0, 0);
  border: solid rgb(50, 60, 195) 0.188rem;
}

.images-box:has(#second-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style2
  .span2:hover {
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 0.188rem;
}

.images-box:has(#third-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style3
  .span3 {
  background-color: rgb(0, 0, 0);
  border: solid rgb(50, 60, 195) 0.188rem;
}

.images-box:has(#third-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style3
  .span3:hover {
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 0.188rem;
}

.images-box:has(#fourth-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style4
  .span4 {
  background-color: rgb(0, 0, 0);
  border: solid rgb(50, 60, 195) 0.188rem;
}

.images-box:has(#fourth-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style4
  .span4:hover {
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 0.188rem;
}

.images-box:has(#fifth-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style5
  .span5 {
  background-color: rgb(0, 0, 0);
  border: solid rgb(50, 60, 195) 0.188rem;
}

.images-box:has(#fifth-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style5
  .span5:hover {
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 0.188rem;
}

.images-box:has(#sixth-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style6
  .span6 {
  background-color: rgb(0, 0, 0);
  border: solid rgb(50, 60, 195) 0.188rem;
}

.images-box:has(#sixth-image:checked)
  ~ .pagination
  .circle-pagination
  .label-style6
  .span6:hover {
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 0.188rem;
}

/* change text */
.images-box:has(#first-image:checked) ~ .pagination .text-box .text1 {
  transform: translateY(0%);
}

.images-box:has(#second-image:checked) ~ .pagination .text-box .text2 {
  transform: translateY(-100%);
}

.images-box:has(#third-image:checked) ~ .pagination .text-box .text3 {
  transform: translateY(-200%);
}

.images-box:has(#fourth-image:checked) ~ .pagination .text-box .text4 {
  transform: translateY(-300%);
}
.images-box:has(#fifth-image:checked) ~ .pagination .text-box .text5 {
  transform: translateY(-400%);
}
.images-box:has(#sixth-image:checked) ~ .pagination .text-box .text6 {
  transform: translateY(-500%);
}

label:hover > span {
  background-color: #ffffff;
  border-color: #ffffff;
}

@media screen and (max-width: 53rem) {
  .meme-slider {
    width: 28.25rem;
    height: 37.5rem;
  }

  .images-box {
    width: 29.375rem;
    height: 19rem;
  }

  .images-box img {
    max-width: 28.125rem;
    height: 16.563rem;
  }

  .pagination {
    margin: 0.625rem 0.5rem;
    height: 5.938rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .text-box {
    width: 100%;
    font-size: 1rem;
    height: 1.1rem;
  }

  @media screen and (max-width: 30rem){
    .meme-slider {
      width: 21.2rem;
      height: 33rem;
    }
  
    .images-box {
      width: 22rem;
      height: 17rem;
    }
  
    .images-box img {
      max-width: 20.5rem;
      height: 14rem;
    }

    .text-box{
      height: 0.8rem;
      font-size: 0.7rem;
    }
  }
}
